@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Abel);
html {
  font-size: 62.5%; }

body {
  color: #4c4c4c;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #fff9f0;
  margin: 0; }

a {
  color: #152496;
  text-decoration: none; }
  a:visited {
    color: #0f1969; }
  a:hover {
    color: #0f1969; }
  a:active {
    color: #1829ac; }

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center
section .container, section .container
section .container {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.abel {
  font-family: 'Abel', sans-serif; }

.uppercase, section h2, .neko-box h3, 　
.neko-box h3,
section h2,
.menu a {
  text-transform: uppercase; }

@media (min-width: 1025px) {
  /* Base
  ------------------------------------------------------------*/
  a:hover {
    text-decoration: underline; } }
.top-image {
  background-image: url("../images/img_neko.jpg");
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center; }
  @media (max-width: 768px) {
    .top-image {
      height: 250px; } }

section {
  padding: 60px 0; }

section .container {
  width: 90%; }

section h2 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 60px;
  color: #152496; }

@media (max-width: 768px) {
  section h2 {
    font-size: 25px; } }
.block-center, section .container,
section .container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #e2771c; }

#nekos {
  background-color: #e2771c; }

#nekos .container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column; }

#nekos p {
  margin: 10px;
  line-height: 2.6; }

.neko-box h3 {
  padding: 10px;
  color: #fff9f0;
  font-size: 2.4rem;
  font-weight: bold; }

#nekos .neko-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex: 1;
  flex: 1;
  margin: 0px 10px;
  padding: 20px;
  width: 100%; }

.neko-box .box1 {
  border: solid 3px #152496;
  background-color: #152496;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.neko-box .box2 {
  border: solid 3px #fff9f0;
  background-color: #fff9f0;
  text-align: center;
  min-height: 150px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

@media (min-width: 1025px) {
  #nekos .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; }
  #nekos .neko-box {
    margin: 0 10px; } }
.button {
  clear: both;
  width: 200px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 8px 0 10px;
  color: #fff;
  background-color: #e2771c;
  border-radius: 10px;
  margin: auto;
  text-align: center; }

/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #4c4c4c;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #fff9f0;
  margin: 0; }

a {
  color: #152496;
  text-decoration: none; }
  a:visited {
    color: #0f1969; }
  a:hover {
    color: #0f1969; }
  a:active {
    color: #1829ac; }

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center
section .container, section .container
section .container {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.abel {
  font-family: 'Abel', sans-serif; }

.uppercase, section h2, .neko-box h3, 　
.neko-box h3,
section h2,
.menu a {
  text-transform: uppercase; }

@media (min-width: 1025px) {
  /* Base
  ------------------------------------------------------------*/
  a:hover {
    text-decoration: underline; } }
.top-image {
  background-image: url("../images/img_neko.jpg");
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center; }
  @media (max-width: 768px) {
    .top-image {
      height: 250px; } }

section {
  padding: 60px 0; }

section .container {
  width: 90%; }

section h2 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 60px;
  color: #152496; }

@media (max-width: 768px) {
  section h2 {
    font-size: 23px; } }
　
.block-center, 　 section .container, section 　 .container,
section .container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #e2771c; }

#nekos {
  background-color: #e2771c; }

#nekos .container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column; }

#nekos p {
  margin: 10px;
  line-height: 2.6; }

@media (max-width: 768px) {
  .box2 p {
    font-size: 1.1rem; } }
　
.neko-box h3 {
  padding: 10px;
  color: #fff9f0;
  font-size: 2.4rem;
  font-weight: bold; }

@media (max-width: 768px) {
  .neko-box h3 {
    font-size: 20px; } }
#nekos .neko-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex: 1;
  flex: 1;
  margin: 0px 10px;
  padding: 20px;
  width: 100; }

.neko-box .box1 {
  border: solid 3px #152496;
  background-color: #152496;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.neko-box .box2 {
  border: solid 3px #fff9f0;
  background-color: #fff9f0;
  text-align: center;
  min-height: 150px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

@media (min-width: 1025px) {
  #nekos .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; }
  #nekos .neko-box {
    margin: 0 10px; } }
.button {
  clear: both;
  width: 200px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 8px 0 10px;
  color: #fff;
  background-color: #e2771c;
  border-radius: 10px;
  margin: auto;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
